* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 700px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 43.75rem;
    height: 18.75rem;
    background-color: aqua;
    
}

.next, .prev {
    position: absolute;
    background-color: bisque;
    right: 50%;
    transform: translate(50%);
    background-color: lightgrey;
}

.next {
    bottom: -1.625rem;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: solid .0625rem;
    border-radius: 50px;
}

.prev {
    top: -1.625rem;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: solid .0625rem;
    border-radius: 50px;
}

.item {
    height: 100%;
    display: none;
}

.show {
    display: block;
}
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* sidebar */
.sidebar {
    height: 18.75rem;
    width: 6.25rem;
    position: relative;
}
.item-side {
    width: 100%;
    height: calc(100% / 5);
    opacity: 0.5;

}
.item-side img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.solid {
    opacity: 1;
}